<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:int="http://www.springframework.org/schema/integration"
       xmlns:file="http://www.springframework.org/schema/integration/file"
       xmlns:feed="http://www.springframework.org/schema/integration/feed"

       xsi:schemaLocation="http://www.springframework.org/schema/integration/feed http://www.springframework.org/schema/integration/feed/spring-integration-feed.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/integration/file http://www.springframework.org/schema/integration/file/spring-integration-file.xsd
		http://www.springframework.org/schema/integration http://www.springframework.org/schema/integration/spring-integration.xsd">

    <!-- Add bean definitions -->
    <bean id="tempService" class="com.hopologybrewing.bcs.capture.service.TemperatureService">
        <property name="fileLocation" value="${temps.file}"/>
        <property name="dbService" ref="dynamoDbService"/>
    </bean>

    <bean id="outputService" class="com.hopologybrewing.bcs.capture.service.OutputService">
        <property name="fileLocation" value="${outputs.file}"/>
        <property name="dbService" ref="dynamoDbService"/>
    </bean>

    <bean id="processService" class="com.hopologybrewing.bcs.capture.service.ProcessService"/>
    <bean id="stateService" class="com.hopologybrewing.bcs.capture.service.StateService"/>
    <bean id="dynamoDbService" class="com.hopologybrewing.bcs.capture.aws.dynamo.DynamoDBService"/>

    <!-- message recording for graphing data -->
    <bean id="tempMessageRecorder" class="com.hopologybrewing.bcs.capture.batch.TemperatureProbeMessageRecorder">
        <property name="dbService" ref="dynamoDbService"/>
    </bean>

    <int:inbound-channel-adapter id="temps" ref="tempMessageRecorder" method="getNextTemperatureReading" auto-startup="true" >
        <int:poller fixed-rate="300000" max-messages-per-poll="1"/>
    </int:inbound-channel-adapter>

    <int:service-activator input-channel="temps" ref="tempMessageRecorder"
                           method="recordMessage"/>

    <bean id="outputMessageRecorder" class="com.hopologybrewing.bcs.capture.batch.OutputMessageRecorder">
        <property name="dbService" ref="dynamoDbService"/>
    </bean>

    <int:inbound-channel-adapter id="outputs" ref="outputMessageRecorder" method="getNextOutputReading" auto-startup="true" >
        <int:poller fixed-rate="2500" max-messages-per-poll="1"/>
    </int:inbound-channel-adapter>

    <int:service-activator input-channel="outputs" ref="outputMessageRecorder"
                           method="recordMessage"/>
</beans>
