h1 {
    color: green;
    font-size: 50px
}

h1 small {
    color: gray;
    font-size: 20px
}

.state-list-on {
    color: #4CAF50;
}

.margin {
    margin: 10px;
}

.hr {
    width: 100%;
    font-size: 1px;
    color: #000000;
    line-height: 1px;
    background-color: grey;
    margin-top: 10px;
    margin-bottom: 10px;
}

.center {
    margin: auto;
    text-align: center;
}

.small-pad {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;

}

a {
    cursor:pointer;
}

.error {
    color: red;
}