<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Fermentation Controller</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
        <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
        <script src="http://code.highcharts.com/stock/highstock.js"></script>
        <script src="https://code.highcharts.com/highcharts-more.js"></script>
        <script src="https://code.highcharts.com/modules/data.js"></script>
        <script src="https://code.highcharts.com/modules/exporting.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script src="bower_components/moment/min/moment.min.js"></script>
        <script src="bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>
        <script src="bower_components/angular-daterangepicker/js/angular-daterangepicker.min.js"></script>

        <script src="app.js"></script>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="app.css"/>
        <link rel="stylesheet" href="bower_components/bootstrap-daterangepicker/daterangepicker.css"/>
    </head>

    <body ng-app="hopologybrewing-bcs">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="panel panel-default center">
                    <div class="panel-body" style="display: inline-block;">
                        <div class="stack-left">
                            <div class="center" ng-controller="gaugeController">
                                <div><a ng-click="reloadGauges()">Reload Temps</a></div>
                                 <span ng-repeat="options in gaugeOptions">
                                    <div id="{{'temp-gauge' + $index}}" class="gauge" style="display: inline-block;">{{ renderGauges('temp-gauge' + $index, options) }}</div>
                                 </span>
                            </div>

                            <div ng-controller="outputController" class="clear center pad">
                                    <span ng-repeat="output in outputs" class="lrpad" style="display: inline-block;">
                                        <button id="{{'output' + $index}}" data-ng-class="[output.on ? 'btn btn-on' : 'btn']" ng-bind="output.name"/>
                                    </span>
                            </div>
                        </div>

                        <div  class="stack-left pad">
                            <div>
                                <div ng-controller="currentStateController">
                                    <div ng-show="activeProcesses.length == 0">
                                        <span class="stack-left pad center">
                                            <h1 style="display: inline-block">No Active Processes</h1>
                                        </span>
                                    </div>
                                    <div id="{{'currentState' + $index}}" class="stack-left pad" ng-repeat="process in activeProcesses">
                                        <h1><a data-toggle="modal" data-target="{{'#processStates' + $index}}">{{ process.name }}</a></h1>
                                        <div><b>Active State:</b> {{ process.states[process.current_state.state] }}<span ng-show="process.paused" class="glyphicon glyphicon-pause" style="color: red"></span></div>
                                        <div><b>Active Timer ({{ process.statesObj[process.current_state.state].timers[0].count_up ? 'up' : 'dn'}}):</b> {{ convertTimerValue(process.statesObj[process.current_state.state].timers[0].value) }}</div>
                                        <div ng-show="!process.nextState.startsWith('State ')"><b>Next State:</b> {{ process.nextState ? process.nextState : "(no exit condition set)"}}</div>

                                        <div id="{{'processStates' + $index}}" class="modal fade" role="dialog">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                        <h4 class="modal-title">{{ process.name + ' States' }}</h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        <ul>
                                                            <li ng-show="process.states != null && !state.startsWith('State ')" ng-repeat="state in process.states" data-ng-class="[process.current_state.state == $index ? 'state-list-on' : '']">
                                                                {{ state }}
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </div>
                            <div class="clear pad">
                                <div class="hr">.</div>
                                <div class="clear center">
                                    <span ng-controller="alertController" style="display: inline-block;">
                                        <button id="toggleAlerting" ng-click="toggleAlerting()" class="btn btn-gray" style="float: left"><span>{{alertEnabled ? 'Disable Alerting' : 'Enable Alerting'}}</span></button>
                                    </span>
                                    <span ng-controller="brewInfoCreationController">
                                        <span style="display: inline-block;">
                                            <button id="toggleModal" ng-click="toggleModal()" class="btn btn-gray" style="float: left"><span>Create Brew</span></button>
                                            <modal-dialog show='modalShown' width='400px' height='60%'>
                                                <h2>Create Brew</h2>
                                                <div>
                                                    <form>
                                                        <div><label class="small-pad" for="brew_name">Name: </label><input type="text" ng-model="brew_name"></div>
                                                        <div><label class="small-pad" for="brew_description">Description: </label><input type="text" ng-model="brew_description"></div>
                                                        <div><label class="small-pad" for="month">Month: </label><input type="text" ng-model="month"></div>
                                                        <div><label class="small-pad" for="day">Day: </label><input type="text" ng-model="day"></div>
                                                        <div><label class="small-pad" for="year">Year: </label><input type="text" ng-model="year"></div>
                                                    </form>
                                                </div>
                                                <div>
                                                    <p></p>
                                                    <button id="createBrew" ng-click="createBrew(brew_name, brew_description, month, day, year)" class="btn small-pad" style="float: left"><span>Create Brew</span></button>
                                                </div>
                                            </modal-dialog>
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div ng-controller="chartController">
                    <div class="clear stack-right">
                        <h4>Brew: <select ng-change="renderCharts(selectedBrew.brewDate, datePicker.startDate, datePicker.endDate)" ng-model="selectedBrew" ng-options="x.name for x in brews"></select></h4>
                    </div>
                    <div class="stack-left">
                        <h4>Date Range: <input date-range-picker class="date-picker small-pad" ng-change="renderCharts(selectedBrew.brewDate, datePicker.startDate, datePicker.endDate)" min="dateMin" max="dateMax" type="text" ng-model="datePicker" options="datePickerOptions" /></h4>
                    </div>

                    <div class="clear">
                        <div id="temp-history" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
                        <div id="output-history" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>