<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Fermentation Controller</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
        <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
        <script src="http://code.highcharts.com/stock/highstock.js"></script>
        <script src="https://code.highcharts.com/highcharts-more.js"></script>
        <script src="https://code.highcharts.com/modules/data.js"></script>
        <script src="https://code.highcharts.com/modules/exporting.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script src="bower_components/moment/min/moment.min.js"></script>
        <script src="bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>
        <script src="bower_components/angular-daterangepicker/js/angular-daterangepicker.min.js"></script>

        <script src="app.js"></script>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="app.css"/>
        <link rel="stylesheet" href="bower_components/bootstrap-daterangepicker/daterangepicker.css"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>

    <body ng-app="brewing-bcs">
        <div class="container" ng-controller="brewController">
            <div class="row">
                <div class="col-sm-12">
                    <span>&nbsp;</span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4" ng-controller="tempPidController">
                     <div ng-repeat="probe in probes" class="text-center">
                         <div class="panel panel-default">
                             <div class="panel-body" ng-controller="outputController">
                                 <div class="well">
                                     <h2>{{probe.reading}} <small>{{probe.setpoint}} SP</small></h2>
                                     <small class="pull-right">{{probe.name}}</small>
                                 </div>
                                 <button id="{{'output' + $index}}" type="button" ng-show="outputs.length >= $index" data-ng-class="[outputs[$index].on ? 'btn btn-lg btn-success' : 'btn btn-lg btn-primary']" ng-bind="outputs[$index].name"/>
                             </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-5">
                                <div ng-show="!selectedBrew">
                                    <h1 class="text-dark">Get Started</h1>
                                    <h3><a data-toggle="modal" data-target="#createBrewDialog"><span class="glyphicon glyphicon-plus text-success"></span> Create a brew</a></h3>
                                </div>
                                <div class="panel panel-default" ng-show="selectedBrew">
                                    <div class="panel-heading">
                                        <h4 class="pull-left">{{selectedBrew.name}} <small>brewed on {{brewDate}}</small></h4>
                                        <h4 class="pull-right"><a data-toggle="modal" class="glyphicon glyphicon-edit" data-target="#editBrewDialog" title="Edit Brew"></a></h4>
                                        <div class="clearfix"></div>
                                        <div id="editBrewDialog" class="modal fade" role="dialog">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                        <h4 class="modal-title">Edit Batch Brewed On {{brewDate}}</h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        <p ng-show="createBrewError" class="error"><b>Error:</b> {{editBrewError}}</p>
                                                        <div>
                                                            <form role="form">
                                                                <div class="form-group">
                                                                    <label for="brew_name">Name: </label>
                                                                    <input type="text" id="brew_name" class="form-control" ng-model="selectedBrew.name" placeholder="Name of the brew">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="brew_description">Description: </label>
                                                                    <input type="text" id="brew_description" class="form-control" ng-model="selectedBrew.description" placeholder="Description of the brew">
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
                                                        <button id="editBrewButton" type="button" ng-click="editBrew(selectedBrew)" class="btn btn-primary pull-right" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Submitting">Update Brew</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel-body">
                                        <p>{{selectedBrew.description}}</p>
                                    </div>

                                    <!-- Table -->
                                    <table class="table" ng-show="yeastPitch || crashStart || brewCompleteDate">
                                        <tr ng-show="yeastPitch"><td><span class="glyphicon glyphicon-play"></span></td><td>Pitched on {{yeastPitch}}</td><td><a href="#" ng-click="updateBrew('SINGLE')" title="Set Yeast Pitch to NOW"><span class="glyphicon glyphicon-edit pull-right"></span></a></td></tr>
                                        <tr ng-show="crashStart"><td><span class="glyphicon glyphicon-flash"></span></td><td>Crashed on {{crashStart}}</td><td><a href="#" ng-click="updateBrew('DOUBLE')" title="Set Crash Start to NOW"><span class="glyphicon glyphicon-edit pull-right"></span></a></td></tr>
                                        <tr ng-show="brewCompleteDate"><td><span class="glyphicon glyphicon-check"></span></td><td>Completed on {{brewCompleteDate}}</td><td><a href="#" ng-click="updateBrew('LONG')"title="Set Brew Complete Date to NOW" ><span class="glyphicon glyphicon-edit pull-right"></span></a></td></tr>
                                    </table>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="btn-group btn-group pull-right" role="group">
                                    <div class="btn-group btn-group" role="group">
                                        <button id="cloudWatchButton" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Submitting">
                                            Polling <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="#" ng-click="triggerCloudWatch('SINGLE')"><span class="glyphicon glyphicon-refresh"></span> Enable Polling</a></li>
                                            <li><a href="#" ng-click="triggerCloudWatch('LONG')"><span class="glyphicon glyphicon-remove"></span> Disable Output Polling</a></li>
                                            <li><a href="#" ng-click="triggerCloudWatch('DOUBLE')"><span class="glyphicon glyphicon-remove"></span> Disable All Polling</a></li>
                                        </ul>
                                    </div>
                                    <div class="btn-group btn-group" role="group" ng-show="!yeastPitch || !crashStart || !brewCompleteDate">
                                        <button id="brewInfoUpdateButton" type="button" class="btn btn btn-primary dropdown-toggle" data-toggle="dropdown" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Submitting">
                                            Batch Dates <span class="caret"></span></button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="#" ng-click="updateBrew('SINGLE')"><span class="glyphicon glyphicon-play"></span> Set Yeast Pitch</a></li>
                                            <li><a href="#" ng-click="updateBrew('DOUBLE')"><span class="glyphicon glyphicon-flash"></span> Set Crash Start</a></li>
                                            <li><a href="#" ng-click="updateBrew('LONG')"><span class="glyphicon glyphicon-check"></span> Set Brew Complete</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-8" ng-controller="currentStateController">
                                <table class="table" ng-show="activeProcesses.length != 0">
                                    <tr>
                                        <th>Process</th>
                                        <th>Active State</th>
                                        <th>Active Timer</th>
                                        <th>Next State</th>
                                    </tr>
                                    <tr id="{{'currentState' + $index}}" ng-repeat="process in activeProcesses" ng-show="activeProcesses.length != 0">
                                        <td><a data-toggle="modal" data-target="{{'#processStates' + $index}}">{{ process.name }}</a></td>
                                        <td>{{ process.states[process.current_state.state] }}<span ng-show="process.paused" class="glyphicon glyphicon-pause" style="color: red"></span></td>
                                        <td>{{ convertTimerValue(process.statesObj[process.current_state.state].timers[0].value) }} ({{ process.statesObj[process.current_state.state].timers[0].count_up ? 'up' : 'dn'}})</td>
                                        <td ng-show="!process.nextState.startsWith('State ')">{{ process.nextState ? process.nextState : "(no exit condition set)"}}</td>
                                    </tr>
                                    <div id="{{'processStates' + $index}}" class="modal fade" role="dialog">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                    <h4 class="modal-title">{{ process.name + ' States' }}</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <ul>
                                                        <li ng-show="process.states != null && !state.startsWith('State ')" ng-repeat="state in process.states" data-ng-class="[process.current_state.state == $index ? 'state-list-on' : '']">
                                                            {{ state }}
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="hr">.</div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="clearfix pull-right">
                        <span style="display: inline-block;">
                            <h4><a data-toggle="modal" class="glyphicon glyphicon-plus" data-target="#createBrewDialog" title="Create Brew"></a></h4>
                            <div id="createBrewDialog" class="modal fade" role="dialog">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title">Create Brew</h4>
                                        </div>
                                        <div class="modal-body">
                                            <p ng-show="createBrewError" class="error"><b>Error:</b> {{createBrewError}}</p>
                                            <div>
                                                <form role="form">
                                                    <div class="form-group">
                                                      <label for="brew_name">Name: </label>
                                                      <input type="text" id="brew_name" class="form-control" ng-model="brew_name" placeholder="Name of the brew">
                                                    </div>
                                                    <div class="form-group">
                                                      <label for="brew_description">Description: </label>
                                                      <input type="text" id="brew_description" class="form-control" ng-model="brew_description" placeholder="Description of the brew">
                                                    </div>
                                                    <div class="form-group">
                                                      <label for="month">Month: </label>
                                                      <input type="text" id="month" class="form-control" ng-model="month" placeholder="Month of the brew day">
                                                    </div>
                                                    <div class="form-group">
                                                      <label for="day">Day: </label>
                                                      <input type="text" id="day" class="form-control" ng-model="day" placeholder="Day of the month of the brew day">
                                                    </div>
                                                    <div class="form-group">
                                                      <label for="year">Year: </label>
                                                      <input type="text" id="year" class="form-control" ng-model="year" placeholder="Year of the brew day">
                                                    </div>
                                                  </form>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
                                            <button id="createBrewButton" type="button" ng-click="createBrew(brew_name, brew_description, month, day, year)" class="btn btn-primary pull-right" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Submitting">Create Brew</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </span>
                    </div>
                    <div class="pull-right">&nbsp;&nbsp;</div>
                    <div class="pull-right">
                        <h4>Brew: <select ng-change="renderCharts(selectedBrew, selectedBrew.brewDate, datePicker.startDate, datePicker.endDate)" ng-model="selectedBrew" ng-options="x.name for x in brews"></select></h4>
                    </div>
                    <div class="pull-left">
                        <h4>Date Range: <input date-range-picker class="date-picker small-pad" ng-change="renderCharts(selectedBrew, selectedBrew.brewDate, datePicker.startDate, datePicker.endDate)" min="dateMin" max="dateMax" type="text" ng-model="datePicker" options="datePickerOptions" /></h4>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 clearfix">
                    <div id="temp-history" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div id="output-history" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
                </div>
            </div>
        </div>
    </body>
</html>