<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Fermentation Controller</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
        <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
        <script src="http://code.highcharts.com/stock/highstock.js"></script>
        <script src="https://code.highcharts.com/highcharts-more.js"></script>
        <script src="https://code.highcharts.com/modules/data.js"></script>
        <script src="https://code.highcharts.com/modules/exporting.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script src="bower_components/moment/min/moment.min.js"></script>
        <script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>

        <script src="bower_components/angular-daterangepicker/js/angular-daterangepicker.min.js"></script>

        <script src="app.js"></script>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="app.css"/>
        <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>

    <body ng-app="brewing-bcs">
        <div class="container" ng-controller="brewController">
            <div class="row">
                <div class="col-sm-12">
                    <span>&nbsp;</span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4" ng-controller="tempPidController">
                     <div ng-show="noProbes" class="panel panel-default">
                        <div class="panel-body text-center">
                            <div class="well">
                               <h4 class="text-danger">Check your BCS connection.  Temps should display here...</h4>
                            </div>
                        </div>
                    </div>
                     <div ng-repeat="probe in probes" class="text-center">
                         <div class="panel panel-default">
                             <div class="panel-body" ng-controller="outputController">
                                 <div class="well">
                                     <h2 class="text-success">{{probe.reading}} <small class="text-muted">{{probe.setpoint}} SP</small></h2>
                                     <small class="pull-right">{{probe.name}}</small>
                                 </div>
                                 <button id="{{'output' + $index}}" type="button" ng-show="outputs.length >= $index" data-ng-class="[outputs[$index].on ? 'btn btn-lg btn-success' : 'btn btn-lg btn-primary']" ng-bind="outputs[$index].name"/>
                             </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-5">
                                <div ng-show="noSelectedBrew">
                                    <h1 class="text-dark">Get Started</h1>
                                    <h3><a data-toggle="modal" data-target="#createBrewDialog"><span class="glyphicon glyphicon-plus text-success"></span> Create a brew</a></h3>
                                </div>
                                <div class="panel panel-default" ng-show="selectedBrew">
                                    <div class="panel-heading">
                                        <h4 class="pull-left"><a data-toggle="modal" class="glyphicon glyphicon-edit" data-target="#editBrewDialog" title="Edit Brew"></a>&nbsp;{{selectedBrew.name}} <small>brewed on {{brewDate}}</small></h4>
                                        <div class="btn-group btn-group pull-right" role="group" ng-show="!yeastPitch || !crashStart || !brewCompleteDate">
                                            <button id="brewInfoUpdateButton" type="button" class="btn btn btn-primary dropdown-toggle" data-toggle="dropdown" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Submitting">
                                                Batch Dates <span class="caret"></span></button>
                                            <ul class="dropdown-menu" role="menu">
                                                <li><a href="#" ng-click="updateBrew('SINGLE', selectedBrew.brewDate)"><span class="glyphicon glyphicon-play"></span> Set Yeast Pitch</a></li>
                                                <li><a href="#" ng-click="updateBrew('DOUBLE', selectedBrew.brewDate)"><span class="glyphicon glyphicon-flash"></span> Set Crash Start</a></li>
                                                <li><a href="#" ng-click="updateBrew('LONG', selectedBrew.brewDate)"><span class="glyphicon glyphicon-check"></span> Set Brew Complete</a></li>
                                            </ul>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div id="editBrewDialog" class="modal fade" role="dialog">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                        <h4 class="modal-title">Edit Batch Brewed On {{brewDate}}</h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        <p ng-show="createBrewError" class="error"><b>Error:</b> {{editBrewError}}</p>
                                                        <div>
                                                            <form role="form">
                                                                <div class="form-group">
                                                                    <label for="edit_brew_name">Name: </label>
                                                                    <input id="edit_brew_name" type="text" class="form-control" ng-model="selectedBrew.name" placeholder="Name of the brew" required>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="edit_brew_description">Description: </label>
                                                                    <textarea id="edit_brew_description" rows="4" class="form-control" ng-model="selectedBrew.description" ng-attr-placeholder="Description of the brew"></textarea>
                                                                </div>
                                                                <div ng-show="selectedBrew.yeastPitch" class="form-group">
                                                                    <label for="edit_brew_yeast">Pitched Yeast On: </label>
                                                                    <input disabled id="edit_brew_yeast" type="text" dateformat class="form-control" ng-model="selectedBrew.yeastPitch" placeholder="Date yeast was pitched for this brew">
                                                                </div>
                                                                <div ng-show="selectedBrew.crashStart" class="form-group">
                                                                    <label for="edit_brew_crash">Crash Started On: </label>
                                                                    <input disabled id="edit_brew_crash" type="text" dateformat class="form-control" ng-model="selectedBrew.crashStart" placeholder="Date craash started for this brew">
                                                                </div>
                                                                <div ng-show="selectedBrew.brewCompleteDate" class="form-group">
                                                                    <label for="edit_brew_complete">Brew Completed On: </label>
                                                                    <input disabled id="edit_brew_complete" type="text" dateformat class="form-control" ng-model="selectedBrew.brewCompleteDate" placeholder="Date fermentation and dry hop completed for this brew">
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
                                                        <button id="editBrewButton" type="button" ng-click="editBrew(selectedBrew)" class="btn btn-primary pull-right" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Submitting">Update Brew</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel-body">

                                        <p class="clearfix pull-left">{{selectedBrew.description}}</p>
                                    </div>

                                    <!-- Table -->
                                    <ul class="list-group" ng-show="yeastPitch || crashStart || brewCompleteDate">
                                        <li class="list-group-item" ng-show="yeastPitch"><span class="glyphicon glyphicon-play"></span>&nbsp;Pitched on {{yeastPitch}}</li>
                                        <li class="list-group-item" ng-show="crashStart"><span class="glyphicon glyphicon-flash"></span>&nbsp;Crashed on {{crashStart}}</li>
                                        <li class="list-group-item" ng-show="brewCompleteDate"><span class="glyphicon glyphicon-check"></span>&nbsp;Completed on {{brewCompleteDate}}</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="panel panel-default" ng-show="selectedBrew">
                                    <div class="panel-heading">
                                        <h4 class="pull-left">Pollers</h4>
                                        <div class="btn-group btn-group pull-right" role="group">
                                            <button id="cloudWatchButton" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Submitting">
                                                Update <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu" role="menu">
                                                <li><a href="#" ng-click="triggerCloudWatch('SINGLE')"><span class="glyphicon glyphicon-refresh"></span> Enable Polling</a></li>
                                                <li><a href="#" ng-click="triggerCloudWatch('DOUBLE')"><span class="glyphicon glyphicon-remove"></span> Disable Output Polling</a></li>
                                                <li><a href="#" ng-click="triggerCloudWatch('LONG')"><span class="glyphicon glyphicon-remove"></span> Disable All Polling</a></li>
                                            </ul>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="panel-body">
                                        <p ng-repeat="rule in rules" class="text-left">
                                            <span data-ng-class="[rule.State == 'ENABLED' ? 'glyphicon glyphicon-ok text-success' : 'glyphicon glyphicon-remove text-danger']"></span>{{(rule.Name == 'every-minute' ? " Output Poller"+(rule.State == 'ENABLED' ? " Enabled" : " Disabled") : " Temperature Poller"+(rule.State == 'ENABLED' ? " Enabled" : " Disabled"))}}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-8" ng-controller="currentStateController">
                                <table class="table" ng-show="activeProcesses && activeProcesses.length != 0">
                                    <tr>
                                        <th>Process</th>
                                        <th>Active State</th>
                                        <th>Active Timer</th>
                                        <th>Next State</th>
                                    </tr>
                                    <tr id="{{'currentState' + $index}}" ng-repeat="process in activeProcesses" ng-show="activeProcesses.length != 0">
                                        <td><a data-toggle="modal" data-target="{{'#processStates' + $index}}">{{ process.name }}</a></td>
                                        <td>{{ process.states[process.current_state.state] }}<span ng-show="process.paused" class="glyphicon glyphicon-pause" style="color: red"></span></td>
                                        <td>{{ convertTimerValue(process.statesObj[process.current_state.state].timers[0].value) }} ({{ process.statesObj[process.current_state.state].timers[0].count_up ? 'up' : 'dn'}})</td>
                                        <td ng-show="!process.nextState.startsWith('State ')">{{ process.nextState ? process.nextState : "(no exit condition set)"}}</td>
                                        <td id="{{'processStates' + $index}}" class="modal fade" role="dialog">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                        <h4 class="modal-title">{{ process.name + ' States' }}</h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        <ul>
                                                            <li ng-show="process.states != null && !state.startsWith('State ')" ng-repeat="state in process.states" data-ng-class="[process.current_state.state == $index ? 'state-list-on' : '']">
                                                                {{ state }}
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div ng-show="selectedBrew" class="hr">.</div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="clearfix pull-right">
                        <span style="display: inline-block;">
                            <h4><a ng-show="selectedBrew" data-toggle="modal" class="glyphicon glyphicon-plus" data-target="#createBrewDialog" title="Create Brew"></a></h4>
                            <div id="createBrewDialog" class="modal fade" role="dialog">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title">Create Brew</h4>
                                        </div>
                                        <div class="modal-body">
                                            <p ng-show="createBrewError" class="error"><b>Error:</b> {{createBrewError}}</p>
                                            <div>
                                                <form role="form">
                                                    <div class="form-group">
                                                      <label for="brew_name">Name: </label>
                                                      <input type="text" id="brew_name" class="form-control" ng-model="brewName" placeholder="Name of the brew" required>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="brew_description">Description: </label>
                                                        <textarea id="brew_description" rows="4" class="form-control" ng-model="brewDescription" ng-attr-placeholder="Description of the brew"></textarea>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="createBrewDatePicker">Brew Date: </label>
                                                        <input type="text" id="createBrewDatePicker" class="form-control" required>
                                                    </div>
                                                  </form>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
                                            <button id="createBrewButton" type="submit" ng-click="createBrew(brewName, brewDescription, createBrewDate)" class="btn btn-primary pull-right" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Submitting">Create Brew</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </span>
                    </div>
                    <div ng-show="selectedBrew" class="pull-right">&nbsp;&nbsp;</div>
                    <div ng-show="selectedBrew" class="pull-right">
                        <h4>Brew: <select ng-change="updateChartsForBrew(selectedBrew, selectedBrew.brewDate)" ng-model="selectedBrew" ng-options="x.name for x in brews"></select></h4>
                    </div>
                    <div ng-show="selectedBrew && chartDatePicker" class="pull-left">
                        <h4>Date Range: <input date-range-picker class="date-picker small-pad" min="dateMin" max="dateMax" type="text" ng-model="chartDatePicker" options="chartDatePickerOptions"/></h4>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 clearfix">
                    <div ng-show="selectedBrew" id="temp-history" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div ng-show="selectedBrew" id="output-history" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
                </div>
            </div>
        </div>
    </body>
</html>