<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="brewService" class="com.hopologybrewing.bcs.capture.service.BrewService">
        <property name="dbService" ref="dynamoDbService"/>
    </bean>

    <bean id="tempService" class="com.hopologybrewing.bcs.capture.service.TemperatureService">
        <property name="dbService" ref="dynamoDbService"/>
    </bean>

    <bean id="temperatureService" class="com.hopologybrewing.bcs.capture.service.OutputService">
        <property name="dbService" ref="dynamoDbService"/>
    </bean>

    <bean id="processService" class="com.hopologybrewing.bcs.capture.service.ProcessService"/>
    <bean id="stateService" class="com.hopologybrewing.bcs.capture.service.StateService"/>
    <bean id="dynamoDbService" class="com.hopologybrewing.bcs.capture.aws.dynamo.DynamoDBService"/>

    <!-- message recording for graphing data -->
    <bean id="tempMessageRecorder" class="com.hopologybrewing.bcs.capture.batch.TemperatureProbeMessageRecorder">
        <property name="dbService" ref="dynamoDbService"/>
    </bean>

    <bean id="outputMessageRecorder" class="com.hopologybrewing.bcs.capture.batch.OutputMessageRecorder">
        <property name="dbService" ref="dynamoDbService"/>
    </bean>
</beans>
